body {
    font-family: Lora;
    background-color: black;
    color: white;
}

#brand img{
    height: 150px;
}













































.un {
    display: inline-block;
}

    .un::after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: white;
        transition: 300ms;
    }

    .un:hover::after {
        width: 100%;
    }


   
    
    
    
    
    
    
    
