body {
    font-family: Lora;
    background-color: black;
    color: white;
}

#brand img{
    height: 150px;
}

.link{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.banner{
    position: absolute;
    top: 800px;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: black;

}

.banner2{
    position: absolute;
    top: 1700px;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: black;

}

.banner3{
    position: absolute;
    top: 2720px;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: black;

}

.banner-left{
    padding-left: 100px;
}

.firstOverlay{
    position: absolute;
    top: 450px;
    right: 20px;
}

.flexwrapper{
    display: flex;
    width: 100%;
    gap: 10px;
    height: 350px;
    padding: 0px 50px 0px 50px;
}

.flexwrapper img{
    width: 100%;
}

/* Mobile Design /////////////////////////////////////////////////////////*/

@media screen and (min-width:375px){
    .banner{
        position: absolute;
        top: 365px;
        height: 350px;
        display: flex;
        align-items: center;
        background-color: black;
    
    }
    
    .banner2{
        position: absolute;
        top: 960px;
        height: 350px;
        display: flex;
        align-items: center;
        background-color: black;
    
    }
    
    .banner3{
        position: absolute;
        top: 2720px;
        height: 300px;
        display: flex;
        align-items: center;
        background-color: black;
    
    }

    .banner-left{
        padding: 0px 0px 20px 0px;
    }

    #secondImg{
        padding-top: 340px;
    }

    #thirdImg{
        padding-top: 345px;
    }

    .flexwrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;  
        height: 350px;
        padding: 0px 50px 0px 50px;
    }







}







































.un {
    display: inline-block;
}

    .un::after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: white;
        transition: 300ms;
    }

    .un:hover::after {
        width: 100%;
    }


   
    
    
    
    
    
    
    
